extends layout
head
  block style
    //- The page style which holds codes that we use in add plants page
    link(href='/stylesheets/create.css', rel='stylesheet')

block content
  h1 Create a List

  
  .wrapper
    //- canvas#c(style="display: none")
    form#addListForm(action="/create", method="POST")
      span What is the name of the list?
      input#name(name="name", type="text", placeholder="Name of list")
      span What display picture would you like to use?
      lable(for="letterImg")
        .letter-box
            each letter in letters
              .letter-image
                a(href='/create?id=#{letter.id}')
                  img#mail(src='#{letter.image}', alt='#{letter.name}', width='250px', height='180px')
      input#letterData(name="letterData" type="hidden")
      span Who is going to be on the list?
      input#description(name="description",type="text", placeholder="Name")
      input(type="submit" value="Create")

  script.
    addUploadListener();